<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="el blog del petao">

        <title>shitty blog</title>
        <!-- <link rel="stylesheet" href="styles.css">  -->
    </head>
    <body>
        <h1>Titola</h1>
        <p>la palla</p>
        <div>
            <img src="https://media.wsimag.com/attachments/08510ad606fc1fe2daaeead86d17b84a02c48aee/store/fill/1470/827/9d3f47a68ebf25a7ed715e64d01957bfc3d4129acc064a5287f037fc968d/La-cara-de-Mariano-Rajoy-es-un-extrano-poema.jpg"
            width=450px>
        </div>  
    </body>